@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
ul{
	list-style:none;
}
a,input,button,textarea,img,select{
	outline:none;
	border:0;
	resize:none;
}
.clear{
	clear:both;
}
body{
	font-family:"微软雅黑";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	font-size:12px;
}
a{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
header{
	position:relative;
	border-bottom:1px #999 solid;
	text-align:center;
	background-color:#f0f0f0;
}
header img{
	width:auto;
	height:30px;
	position:absolute;
	left:20px;
	top:10px;
}
header h3{
	font-size:1.5em;
	color:#333;
	line-height:40px;
}
section{
	background-color:#fff;
}
section p{
	font-size:14px;
	line-height:30px;
	color:#333;
	padding:0 20px;
	margin:40px 0 57px 0;
}


.error{
	display:none;
}
.error p{
	color:#f41515;
}
.error button{
	width:40%;
	height:72px;
	color:#fefefe;
}
.success{
	text-align:center;
	display:none;
}
.success p{
	color:#09bb07;
	padding:0;
	margin:0;
	line-height:140px;
	padding-bottom:14px;
}
.success .record{
	font-size:14px;
	color:#666;
	line-height:60px;
	margin-bottom:50px;
}
.success .record span{
	font-size:15px;
	color:#f87104;
	padding-left:20px;
}
.success button{
	width:88%;
	height:72px;
	background-color:#eb6100;
	border-radius:6px;
	font-family:"微软雅黑";
	font-size:17px;
	margin:0 20px 50px 20px;
	color:#fff;
}
.download{
	width:88%;
	height:70px;
	background-color:#3e5e5e5;
	border:1px solid #777;
	color:#636363;
	font-size:16px;
	border-radius:6px;
	margin:20px 20px 50px 20px;
}